body {
  font-family: Ubuntu, "DejaVu Sans", sans-serif;
  color: #000;
  text-align: justify;
  background-color: #ddd;
  margin: 0 20%;
  text-shadow: 1px 1px 0 #fff;
}

h1 {
  color: #000;
  font-size: 6em;
  margin-bottom: -0.25em;
}

h1 a {
  text-decoration: none;
}

h1 + p {
  font-size: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: right;
}

a {
  color: #222;
}

li {
  margin-top: 40px;
  list-style-type: square;
}

#content {
  padding: 3em 8px;
  font-size: 1.25em;
  font-family: Ubuntu, serif;
}

