<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <p class="lead"><img id="avatar" alt="My avatar" src="//s.gravatar.com/avatar/bdc4bd9b9b18388588ed2273adaee8a6?s=128" /></p>
      <p class="lead">Libre Software lover. Hacker.</p>
    </div>
    <nav class="sidebar-nav">
      <div class="sidebar-nav-item">
        <i class="fas fa-home"></i><a href="/">Home</a>
      </div>
      <div class="sidebar-nav-item">
        <i class="fas fa-envelope"></i><a href="/contact.html">Contact</a>
      </div>
      <div class="sidebar-nav-item">
        <i class="fas fa-rss-square"></i><a href="/blog/feed.xml">RSS</a>
      </div>
    </nav>
    <nav class="sidebar-nav">
      <div class="sidebar-nav-item">
        <i class="fab fa-github"></i><a href="https://github.com/ereslibre">GitHub</a>
      </div>
      <div class="sidebar-nav-item">
        <i class="fab fa-mastodon"></i><a rel="me" href="https://hachyderm.io/@ereslibre">Mastodon</a>
      </div>
      <div class="sidebar-nav-item">
        <i class="fab fa-keybase"></i><a href="https://keybase.io/ereslibre">Keybase</a>
      </div>
      <div class="sidebar-nav-item">
        <i class="fab fa-linkedin"></i><a href="https://linkedin.com/in/rafaelfernandezlopez">LinkedIn</a>
      </div>
    </nav>
    <p><a href="https://github.com/ereslibre/ereslibre.es">Built</a> with <a href="https://orgmode.org/">org-mode</a>.</p>
  </div>
</div>
